%h1 Listing events  

%table
  %thead
    %tr
      %th Event id (internal)
      %th Time
      %th Point
      %th Lanterns
      %th Engine
      %th Other
      %th Wind direction
      %th Wind speed
      %th Created at
      %th Updated at
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.id
        %td= event.time
        %td= event.point
        %td= event.lanterns
        %td= event.engine
        %td= event.other
        %td= event.wind_direction
        %td= event.wind_speed
        %td= event.created_at
        %td= event.updated_at
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= link_to 'New Event', new_event_path
