%h1 Listing logbooks

%table
  %thead
    %tr
      %th Boat name
      %th Start no
      %th
      %th
      %th

  %tbody
    - @logbooks.each do |logbook|
      %tr
        %td= logbook.boat_name
        %td= logbook.start_no
        %td= link_to 'Show', logbook
        %td= link_to 'Edit', edit_logbook_path(logbook)
        %td= link_to 'Destroy', logbook, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Logbook', new_logbook_path
